<div class="parent">
  
<div class="flex-container"><h1 class="shadow-red">Eat-Da-Burger</h1></div>

  <div class="flex-container">
<ul class="flex-item width">
    {{#each burgers}}
    {{#unless devoured}}
  	<li>
<span class="label shadow-blue-red"><b>Burger Name:</b></span><span class="shadow-blue-red">  {{this.burger_name}}</span>
      <button class="devour btn" data-id={{this.id}}>Devour</button>
  	</li>
    {{/unless}}
  {{/each}}

  </ul>
  <div class="flex-item width">
    <div class="flex-container1">
      <div class ="flex-column">
        <img src="pictures/burger.png"><br>
        
      </div>
      <div class ="flex-item">
            <b class="what shadow-red">Create a new burger</b>
            <div class="input-wrapper">
              <input type="text" id="burgerName">
              <button id="burgerButton" class="btn">Submit</button>
            </div>
      
      </div>
      <div><a href="https://github.com/a-ravitz/burger" class="shadow-red"><img src="pictures/github-logo.png" class="small"></a></div>
    </div>
  </div>
  <ul class="flex-item width">
  {{#each burgers}}
    {{#if devoured}}
  	<li>
      <span class="label shadow-blue-red"><b>Burger Name:</b>  </span><span class="strike shadow-blue-red">{{this.burger_name}} </span>  
      <button class="delete btn" data-id={{this.id}}>Delete</button>
      <button class="purge btn" data-id={{this.id}}>Un-Devour</button>
  	</li>
    {{/if}}
  {{/each}}
</ul>
</div>
</div>
